<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- JS -->
    <script src="detail_page.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/detail_page.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap">
    <title>Document</title>
</head>
<body>
    <!-- 뒤로가기 -->
    <a class="close-button" href="#">Back</a>

    <div class = "card-wrapper">
        <div class = "card">
        <!-- 카드 이미지 -->
        <div class = "product-imgs">
            <div class = "img-display">
            <div class = "img-showcase">
                <img src = "https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/shoe_1.jpg"/>
            </div>
            </div>
        </div>
        <!-- 카드 아래 -->
        <div class = "product-content">
            <h2 class = "product-title">title</h2>
            </div>
    
            <div class = "product-price">
            <p class = "last-price">nickname</p>
            <p class = "new-price">Price</p>
            </div>
    
            <div class = "product-detail">
            <h2> Content </h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, perferendis eius. Dignissimos, labore suscipit. Unde.<br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, perferendis eius. Dignissimos, labore suscipit. Unde.<br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, perferendis eius. Dignissimos, labore suscipit. Unde.<br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, perferendis eius. Dignissimos, labore suscipit. Unde.</p>
            </div>
            </div>
            <hr>
            <hr>
            <h1>"comment"</h1>
        </div>
        </div>
    </div>
</body>
    <!-- JS -->
    <script src="/static/js/detail_page.js"></script>
</html>